<form method="post" action="{{ path('app_delete_post', {'id': post.id}) }}" onsubmit="return confirm('Êtes-vous sûr de voulor supprimer ce post ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-danger text-while">Supprimer</button>
</form>